.DS_Store
node_modules/
.env
.env.*
dist/

# Backend Specific
backend/data/
backend/uploads/
backend/extensions/
!backend/extensions/.keep
backend/database/

# Frontend Specific
frontend/.astro/
frontend/dist/


*.sql