# --- System & Logs ---
.DS_Store
.AppleDouble
.LSOverride
*.log
npm-debug.log*

# --- Dependencies & Build (Global) ---
node_modules/
dist/
.astro/

# --- Environment & Secrets (WICHTIG!) ---
.env
.env.*
!.env.example
*.sql

# --- IDEs ---
.idea/
.vscode/
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json

# --- Backend Specific (Directus local artifacts) ---
backend/data/
backend/database/
backend/uploads/
backend/extensions/
!backend/extensions/.keep
.zip
# Wir behalten backend/docker-compose.yml im Repo für Backups/Referenz

# --- Frontend Specific ---
frontend/.astro/
frontend/dist/
# Wir behalten frontend/docker-compose.yml & Dockerfile für das Server-Deployment!
**/*.zip
