---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

interface Props {
	title?: string;
    description?: string;
}

const { title = 'Die Brücke', description = 'Soziokulturelles Zentrum' } = Astro.props;
---

<!doctype html>
<html lang="de" class="h-full scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
        <meta name="description" content={description} />
		<title>{title}</title>
	</head>
	<body class="flex flex-col min-h-full bg-surface-muted font-sans text-gray-800 antialiased">
		
        <Header />

		<main class="flex-grow">
			<slot />
		</main>

        <Footer />

	</body>
</html>