---
---
<html>
  <head>
    <title>Piny Test</title>
  </head>
  <body class="p-10 bg-white text-black">
    <h1 class="text-4xl font-bold text-red-600">
      Hallo Piny!
    </h1>
    <p class="mt-4 text-lg">
      Wenn du mich anklicken kannst, funktioniert alles.
    </p>
  </body>
</html>